* {
  font-family: 'Garamond', serif;
  font-size: 14px;
  margin: auto;
  width: 80%;
}

p {
  padding: 5px 0 5px 0;
}

a:link, a:visited, a:active {
  color: #427ea3;
  font-weight: bold;
  text-decoration: none;
  padding: 0px;
}

a:hover {
  color: #8db3ca;
}

.header {
  text-align: center;
  padding-top: 20px;
}

.links {
  text-align: center;
}

.page {
}

h1 {
  font-size: 20px;
  padding: 5px;
}

h2 {
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid black;
}

h3 {
  font-size: 16px;
  padding: 5px;
  border-bottom: 1px solid black;
}

#quote, #author {
  padding: 0px;
  margin: 0px;
}

.footer {
  padding: 10px 0 0 0;
  text-align: center;
}

.footer p {
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  * {
    width: 95%; 
    font-size: 18px;
  }

  .footer p {
    font-size: 16px;
  }
}
